body{
    margin:1%;
    /* float:bottom-right; */
    background:black;
}
#playwindow{
    width: 72.5%;
    min-height: 1px;
    height: 70vh;
    content: "\200B";
    border:1px solid black;
    float:right;
    padding:0;
    margin:0;
    border-spacing: 0;
    margin-bottom:1%;
}
#pw-tabs{
    width:100.3%;
    margin:-1px;
    /* margin:0; */
    padding:0;
    /* border:1px solid black; */
    border-spacing: 0;
    background-color:grey;
    height:8%;
    border-collapse: collapse;
    table-layout: fixed;
}
#pw-tab{
    margin:0;
    padding:0   ;
    border:1px solid black;
    border-spacing: 0;
    text-align: center;
    /* height:50%; */
    /* background-color:red */
}
#mainplaywindow{
    margin:0;
    background-color:lightgrey;
    content: "\200B";
    height:92.3%;
}
#tabtxt{
    /* height:auto; */
    font-size:100;
    /* background:black; */
    padding:0;
    margin:0;
}
#text-window{
    border: 4px double;
    border-color:black;
    background:lightgrey;
    float:left;
    min-height:1px;
    height: 92vh;
    padding:1%;
    width:24%;
    font:Georgia;
}
#TextTitle{
    text-align:center;
}
/* #StatusW {
  
    background-color:black;
    padding:0px;
    margin:0px;
    border: 2px solid dodgerblue;
    color: white;
    float: right;
    min-height:0;
    right:1vh;
    bottom: 1%;
    height:2%;
    position: absolute;
    width:60%;
} */
#StatusW{
    background:lightgrey;
    float:right;
    width:72.5%;
    min-height: 1px;
    height:24vh;
    margin:0;
    padding:0;
}